.actions {
    position: absolute;
    bottom: 100px;
    right: 8px;
    z-index: 2;
}

.action {
    color: #fff;
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}