.wrapper {
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app__content {
  display: flex;
  align-items: center;
  justify-content: center;
}