.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
}

.videoPlayer {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    z-index: 2;
}

.player {
    inset: 0;
    width: 62px;
    height: 62px;
    margin: auto;
    border: 0;
    position: absolute;
    background-size: contain;
    background-color: transparent;
    z-index: 2;
    background-image: url('../../assets/play.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.hidden {
    opacity: 0;
}